@import 'page/meta_overlay_fix';
@import 'page/stations';

section {
  // background-color: #000;
  background: transparent;
  color: $icedream-text-color;

  &#pageEQ {
    background: initial;
    flex-direction: row;
    position: relative;

    // NOTE - #bars is used by the website to determine the dimensions of the waveform canvas, do not set display: none on it or it will disappear on page resize!

    #waves, #bars {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    #waves {
      @if $icedream-saturation {
        @include saturate-from-red(300%, 5%);
      }
    }

    #eqs {
      z-index: 1;
      padding: 20vh;
      transition: opacity ease-out .33s, transform ease-out .33s;
      opacity: 0;
      transform: scale(0.75);
      .slider {
        background-color: rgba(0, 0, 0, .75);
      }
      .eq {
        @if $icedream-saturation {
          @include saturate-from-blue();
        }
      }
    }

    #bars {
      opacity: 0;
    }

    &:hover {
      #eqs {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  // seems like above colors get overwritten again when .active is added
  &.active {
    // background-color: #000;
    background: transparent;
    color: $icedream-text-color;
  }
}
