@import 'page/meta_overlay_fix';
@import 'page/stations';

.page {
  // background-color: #000;
  background: transparent;
  color: $icedream-text-color;

  // seems like above colors get overwritten again when .active is added
  &.active {
    // background-color: #000;
    background: transparent;
    color: $icedream-text-color;
  }

  // apply theme font to all pages but chat page (monospace!)
  &:not(#page_Chat) {
    @include icedream-font;
  }
}
