// metadata overlay tweak
@if $icedream-metadata-overlay {
  .meta {
    margin: 0; // sass-lint:disable-line variable-for-property
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 1em;
    z-index: 900;
    // copied from https://gist.github.com/Odepia/5790397
    background: transparent;
    background: linear-gradient(to right, $icedream-metadata-overlay-background-gradient-from 0%, $icedream-metadata-overlay-background-gradient-to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$icedream-metadata-overlay-background-gradient-from}, endColorstr=#{$icedream-metadata-overlay-background-gradient-to});
  }

  #main {
    section {
      &:not(#pageEQ) {
        height: calc(100% - 9vmin);
      }
    }
  }
}
