{
  "presets": [
    ["babel-preset-env", {
      "targets": {
        "browsers": ">1%",
        "uglify": false
      },
      "modules": false
    }],
    "babel-preset-react"
  ],
  "plugins": [
    "babel-plugin-dynamic-import-node",
    "babel-plugin-syntax-export-extensions",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-export-extensions",
    "babel-plugin-transform-react-constant-elements",
    ["babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}