@if ($debug)
  *
    background-color: $debug-element-background-color
    border: $debug-element-border-color 1px solid
    box-sizing: border-box
    position: relative

    &::after
      content: attr(class) // sass-lint:disable-line variable-for-property
      z-index: 99999
      box-shadow: 0 0 10px $debug-label-shadow-color
      position: absolute
      left: 0
      top: 0
      color: $debug-label-text-color
      background: $debug-label-background-color
      border: $debug-label-border-color 1px solid
      padding: 4px
      font-size: 12px
      font-weight: bold
      font-family: monospace
