@import 'main/page';
@import 'main/smoke';

#main {
  background-image: url(./images/decay.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-color: #000;
}

// NOTE - $rekt-accent-color application on strong and pre a added by Z
small,
strong,
pre a {
  color: $rekt-accent-color;
}

* {
  scrollbar-color: $rekt-accent-color var(--background-2);
}
