$debug: false !default;
$debug-element-background-color: rgba(255, 0, 255, .1) !default;
$debug-element-border-color: #F00 !default;
$debug-label-background-color: #FFF !default;
$debug-label-text-color: #000 !default;
$debug-label-border-color: $debug-label-text-color !default;
$debug-label-shadow-color: #000 !default;

$icedream-bg-color: #000 !default;
$icedream-text-color: #EEE !default;
$icedream-extended-line-height: 5vmin !default;

// extra features
$icedream-saturation: true !default;
$icedream-metadata-overlay: false !default;
$icedream-metadata-overlay-background-gradient-from: #000 !default;
$icedream-metadata-overlay-background-gradient-to: transparent !default;
$icedream-metadata-prefix: '🎶 Now playing:\00a0 ' !default;
$icedream-nav-tab-fix: false !default;
$icedream-nav-bg-fade: true !default;
$icedream-fog-base-opacity: 0.15 !default;
$icedream-fog-bg: true !default;
$icedream-fog-bg-blur: false !default;
$icedream-fog-bg-animated: true !default;
$icedream-fog-bg-pulse: true !default;
$icedream-fog-bg-pulse-animation-length: 68s !default;
$icedream-fog-bg-slide-animation-length: 25s !default;
$icedream-station-fill-background-color: rgba(255, 255, 255, .1) !default;

$rekt-tab-count: 4 !default;
$rekt-border-color: #AAA !default;
