$debug: false !default;

$icedream-bg-color: #000 !default;
$icedream-text-color: #eee !default;

// extra features
$icedream-metadata-overlay: false !default;
$icedream-nav-tab-fix: false !default;
$icedream-nav-bg-fade: true !default;
$icedream-fog-bg: true !default;
$icedream-fog-bg-animated: true !default;
$icedream-fog-bg-animation-length: 5s !default;
$icedream-fog-bg-tab-offset: true !default;

$rekt-tab-count: 4;
