@charset 'UTF-8';

@import 'mixins';

@import 'variables';

@import 'font';
@import 'debug';


$gradient-stop-0: #46c;
$gradient-stop-1: #013;
$gradient-radial: rgba(64, 128, 255, 0.05);

body.rekt.icedream, body.archives.icedream {
  --gradient-stop-0: #{$gradient-stop-0};
  --gradient-stop-1: #{$gradient-stop-1};
  --gradient-radial: #{$gradient-radial};

  @include icedream-font;

  @import 'header';
  @import 'main';
}
